* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

  
.home-page {
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title-image {
    height: 300px;
    width: 300px;
    display: flex;
    align-self: center;
    background: url("../images/mole-title-page.png") no-repeat center;
    background-size: cover;
}

.about-game {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
}

    .about-game ul {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    padding: 10px;
    list-style: none;
}

.home-letters-contianer {
    background-color: blue;
    display: flex;
    align-self: center;
    text-align: center;
    
}

.home-letters {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex: 30%;
}

